@font-face {
    font-family: 'Noto Serif JP';
    src: url('../lib/fonts/Noto_Serif_JP/NotoSerifJP-Regular.otf') format('');
}

@font-face {
    font-family: 'Yusei Magic';
    src: url('../lib/fonts/Yusei_Magic/YuseiMagic-Regular.ttf') format('');
}

body {
    color: #202020;
    font-family: 'Noto Serif JP';
    font-size: 5vh;
    height: 100vh;
    padding: 0;
    margin: 0;
    user-select: none;
    width: 100vw;
}

.content {
    height: 100vh;
    width: 100vw;
}

.content > .background {
    align-items: center;
    background-image: url('../lib/img/back/test.jpg');
    background-position: center;
    background-repeat: none;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}

.content > .background > .title {
    background-color: #fad46d;
    border-radius: 10%;
    font-family: 'Yusei Magic';
    font-size: 90%;
    margin-top: 4vh;
    padding: 10px 25px;
    width: fit-content;
}

.content > .background > .subtitle {
    background-color: rgba(230, 230, 230, 0.85);
    cursor: pointer;
    display: flex;
    height: 30vh;
    justify-content: space-around;
    width: 100%;
}

.content > .background > .subtitle > .char {
    align-items: center;
    bottom: 60px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.content > .background > .subtitle > .char > .icon {
    background-color: #a4c0eb;
    border-radius: 10%;
    height: 18vh;
    width: 18vh;
}

.content > .background > .subtitle > .char > .name {
    font-size: 90%;
    text-shadow: 0 3px 3px #999999;
}

.content > .background > .subtitle > .text {
    text-shadow: 0 3px 3px #999999;
    height: fit-content;
    margin: 15px 0;
    width: 60%;
}

.content > .background > .subtitle > .next-icon {
    font-size: 150%;
    height: fit-content;
    margin-top: 15vh;
    position: relative;
}
